* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.hero {
  width: 100%;
  height: 100vh;
}

nav {
  width: 100%;
  height: 10vh;
  background-color: rgb(248, 235, 216);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-family: 'Alan Sans', sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #333;
  justify-content: center;
}

ul {
  display: flex;
  gap: 50px;
  text-align: Justify;
}

ul a {
  text-decoration: none;
  color: #A94649;
  transition: color 0.3s;
  font-family: "Luckiest Guy", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: justify;
  font-size: 11px;
}

ul li {
  list-style: none;
}

.logo {
  color: #d05aad;
  font-family: "Zain", sans-serif;
  font-weight: 800;
  font-size: 23px;
  letter-spacing: 4px;
  text-decoration: none;
  transition: color 0.3s;
  letter-spacing: 7px;
  text-transform: uppercase;
}

.humburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 999;
}

.humburger-menu .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(252, 205, 242, 0.717);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.menu.active {
  display: flex;
}

.menu ul {
  flex-direction: column;
  gap: 20px;
}

.menu ul a {
  font-size: 24px;
}

.menu ul li {
  list-style: none;
}

.cd-nav-trigger {
  position: fixed;
  z-index: 3;
  left: 5%;
  top: 20px;
  height: 54px;
  width: 54px;
  background-color: #f8adf6;
  border-radius: 50%;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
}

.cd-nav-trigger .cd-nav-icon {
  /* icon created in CSS */
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 22px;
  height: 2px;
  background-color: #ffffff;
}

.cd-nav-trigger .cd-nav-icon::before,
.cd-nav-trigger .cd-nav-icon:after {
  /* upper and lower lines of the menu icon */
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.5s, width 0.5s, top 0.3s;
  -moz-transition: -moz-transform 0.5s, width 0.5s, top 0.3s;
  transition: transform 0.5s, width 0.5s, top 0.3s;
}

.cd-nav-trigger .cd-nav-icon::before {
  -webkit-transform-origin: right top;
  -moz-transform-origin: right top;
  -ms-transform-origin: right top;
  -o-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  -o-transform: translateY(-6px);
  transform: translateY(-6px);
}

.cd-nav-trigger .cd-nav-icon::after {
  -webkit-transform-origin: right bottom;
  -moz-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  -o-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: translateY(6px);
  -moz-transform: translateY(6px);
  -ms-transform: translateY(6px);
  -o-transform: translateY(6px);
  transform: translateY(6px);
}

.no-touch .cd-nav-trigger:hover .cd-nav-icon::after {
  top: 2px;
}

.no-touch .cd-nav-trigger:hover .cd-nav-icon::before {
  top: -2px;
}

.cd-nav-trigger svg {
  position: absolute;
  top: 0;
  left: 0;
}

.cd-nav-trigger circle {
  /* circle border animation */
  stroke: #fff;
  /* Changed to white */
  -webkit-transition: stroke-dashoffset 0.4s 0s;
  -moz-transition: stroke-dashoffset 0.4s 0s;
  transition: stroke-dashoffset 0.4s 0s;
}

.cd-nav-trigger.open {
  /* rotate trigger when navigation becomes visible */
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.cd-nav-trigger.open .cd-nav-icon::after,
.cd-nav-trigger.open .cd-nav-icon::before {
  /* animate arrow --> from hamburger to arrow */
  width: 50%;
  -webkit-transition: -webkit-transform 0.5s, width 0.5s;
  -moz-transition: -moz-transform 0.5s, width 0.5s;
  transition: transform 0.5s, width 0.5s;
}

.cd-nav-trigger.open .cd-nav-icon::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cd-nav-trigger.open .cd-nav-icon::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.no-touch .cd-nav-trigger.open:hover .cd-nav-icon::after,
.no-touch .cd-nav-trigger.open:hover .cd-nav-icon::before {
  top: 0;
}

.cd-nav-trigger.open circle {
  stroke-dashoffset: 0;
  -webkit-transition: stroke-dashoffset 0.4s 0.3s;
  -moz-transition: stroke-dashoffset 0.4s 0.3s;
  transition: stroke-dashoffset 0.4s 0.3s;
}

main {
  width: 100%;
  height: 90vh;
  background: url('hero-bg-big.avif') no-repeat center center/cover;
  margin-top: 0px;
}

.hero-content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #333;
}

.firstrow,
.secondrow {
  display: flex;
  justify-content: center;
  gap: 35%;
}

.firstrow {
  margin-bottom: -50px;
}

.secondrow {
  margin-top: -80px;
}

.first1 {
  width: 120px;
  height: auto;
  transition: transform 0.1s;
}

.first2 {
  width: 120px;
  height: auto;
  transition: transform 0.1s;
}

main h1 {
  text-align: center;
  font-family: 'Zain', sans-serif;
  font-size: 60px;
  color: #A94649;
  margin-top: 0px;
  padding: 0 0px;
  line-height: 1.2;
}

.between-main {
  width: auto;
  height: 13vh;
  position: relative;
  top: -45px;
  left: 40vw;
  transition: transform 0.1s;
  z-index: 1;
}

.section2 {
  width: 100%;
  height: 90vh;
  background-color: rgb(254, 247, 239);
  margin-top: -85px;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  position: relative;
}

.section2 h1 {
  text-align: center;
  font-family: 'Zain', sans-serif;
  font-size: 40px;
  color: #A94649;
  margin-top: 0px;
  line-height: 1;
}

.section2 p {
  font-family: 'Alan Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #A94649;
  max-width: 800px;
  text-align: center;
  line-height: 1.6;
  letter-spacing: 3px;
}

.section3 {
  width: 100%;
  height: 150vh;
  background: url('pink-bg.avif') repeat center;
  background-repeat: repeat;
  background-blend-mode: multiply;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -190px;
  background-color: #f8adf6ef;
}

.videos {
  display: flex;
  gap: 50px;
  margin-top: -600px;
  align-items: center;
  justify-content: center;
  border: none;
}

.videos video {
  width: 25vw;
  max-width: 250px;
  height: 35vh;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  display: block;
}

.video1, .video2, .video3 {
  position: relative; /* container for pseudo-element */
  display: inline-block;
}

.video1::after {
  content: 'Somethings You Love';
  position: absolute;
  top: 150px;
  left: -50px;
  width: 15vw;
  height: auto;
  pointer-events: none;
  background: url('linee-1.avif');
  background-repeat: no-repeat;
  transform: rotate(30deg);
  z-index: 2;
  text-align: center;
  font-family: 'Playwrite DE SAS', sans-serif;
  font-size: 16px;
  color: #A94649;
  padding: 10px;
}

.video2::before {
  content: 'Somethings You Love';
  position: absolute;
  top: 5px;
  left: -60px;
  width: auto;
  max-width: 150px;
  height: auto;
  pointer-events: none;
  background: url('linee-1.avif');
  background-repeat: no-repeat;
  transform: rotate(-30deg);
  z-index: 2;
  text-align: center;
  font-family: 'Playwrite DE SAS', sans-serif;
  font-size: 16px;
  color: #A94649;
  padding: 10px;
  line-height: 13px;
}

@media (max-width: 768px) {
  .humburger-menu {
    display: block;
  }

  nav {
    display: none;
  }

  main {
    height: 80vh;
  }

  .first1,
  .first2 {
    width: 70px;
    height: auto;
  }

  .between-main {
    height: 10vh;
    top: -30px;
  }
}


@media (max-width: 645px) {
  main {
    height: 100vh;
    background: url('hero-bg-small.avif') no-repeat center center/cover;
  }

  .firstrow {
    padding: 30px;
    margin-bottom: -20px;
  }

  .secondrow {
    padding: 30px;

    margin-top: -20px;
  }

  main h1 {
    font-size: 50px;
  }

  .first1,
  .first2 {
    width: 60px;
    height: auto;
  }

  .section2 {
    height: 60vh;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }

  .videos {
    margin-top: -200px;
    overflow-x: auto;
    overflow-y: hidden;     /* hides vertical scrollbar */
  white-space: nowrap;    /* prevents wrapping */
  scroll-snap-type: x mandatory; /* optional: snap effect */
  -webkit-overflow-scrolling: touch;

  justify-content: flex-start;
  padding: 0 60px;
  }
  .videos::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit browsers */
  }

  .videos video {
    width: 250px;
    height: 200px;
  }
  .section3 {
    height: 100vh;
  }
}

@media (max-width: 545px) {
  .cd-nav-trigger {
    left: 80%;
  }

  main h1 {
    font-size: 40px;
  }

  .section2 h1 {
    font-size: 30px;
  }
}

@media (max-width: 1060px) {
  .secondrow {
    gap: 50%;
  }

  .first1,
  .first2 {
    width: 90px;
    height: auto;
  }
}